html, body {
  background:url('../img/bg.jpg') center center no-repeat;
  height: 100%;
  background-size:cover
}

#logo img {
  padding-top: 20px;
  width: 300px;
  height: 300px;
}

#intro p {
  color: black;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

#counter .countdown{
  text-align: center;
  color: black;
  font-family: 'Just Another Hand', cursive;
  font-size: 4em;
  margin:-5px 0 0;
}
